@page
@model WebStar.Pages.ProcessPage.ProcessesModel
@using System.Diagnostics
@{
    var procs = ViewData["Processes"] as Process[];
}

<h1>Processes</h1>
<ul>
    @foreach (var proc in procs!)
    {
        <li>@proc.ProcessName</li>
        <li><a class="nav-link text-dark" asp-page="/ProcessPage/ProcessDetails" asp-route-id="@proc.Id">@proc.ProcessName</a></li>
    }
</ul>
