@page
@using RazorIntro.Pages.ProcessPages
@model ProcessPropModel
@{
}

<div class="text-center">
    <h1 class="display-4">Processes with properties</h1>
    <table class="table">
        <thead>
            <tr>
                <th>Process Name</th>
            </tr>
        </thead>
        <tbody>
            @if (Model.Processes != null)
            {
                foreach (var process in Model.Processes)
                {
                    <tr>
                        <td>
                            <a class="nav-link text-dark" asp-route-id="@process.Id" asp-page="/ProcessPages/ProcessDetailsProp">@process.ProcessName</a>      
                        </td>
                    </tr>
                }
            }
            else
            {
                <tr>
                    <td colspan="3">No process found</td>
                </tr>
            }
        </tbody>
    </table>
</div>