@page
@model WebStar.Pages.ProcessPage.ProcessDetailsModel
@using System.Diagnostics
@{
    var myProc = ViewData["MyProcess"] as Process;
}

<div>
    <p>ID: @myProc!.Id</p>
    <p>Name: @myProc!.ProcessName</p>
</div>
