@page
@using System.Diagnostics
@model ProcessDetailsModel
@{
    Process? process = ViewData["myProcess"] as Process;
}

@if (process != null)
{
    <p><b>Name:</b> @process.ProcessName</p>
    <p><b>Id:</b> @process.Id</p>
    <p><b>Memory:</b> @process.WorkingSet64</p>
}
else
{
    <p>Process not found.</p>
}

