@page
@model ProcessDetailsPropModel
@{
}

@if (Model.MyProcess != null)
{
    <p><b>Name:</b> @Model.MyProcess.ProcessName</p>
    <p><b>Id:</b> @Model.MyProcess.Id</p>
    <p><b>Memory:</b> @Model.MyProcess.WorkingSet64</p>
}
else
{
    <p>Process not found.</p>
}
