@page
@using System.Diagnostics
@model WebStar.Pages.ProcessModel
@{
    var procs = ViewData["Processes"] as Process[];
}

<h1>Processes</h1>
<ul>
    @foreach (var proc in procs!)
    {
        <li>
            <a asp-page="/ProcessDetails" asp-route-id="@proc.Id">@proc.ProcessName</a>
        </li>
    }
</ul>